
@{
    ViewBag.Title = "GoodLuckNextTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chúc Bạn May Mắn Lần Sau</h2>
<img src="~/Content/chuc-mung-sinh-nhat-thu-90-cua-mickey-chu-chuot-noi-tieng-nhat-t-879.jpg" alt="Chúc Bạn May Mắn Lần Sau " style="width:100%;height:autoalign-content:center" />

