
@{
    ViewBag.Title = "HetHanSuDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vé Số Đã Vượt Qua Thời Gian Lãnh Thưởng</h2>
<img src="~/Content/index.jpg" alt="Vé Số Vượt Quá Thời Gian Lãnh Thưởng" style="width:100%;height:auto;align-content:center" />

